<%- include('./modules/head.ejs') %>
<body class="body-detail">
  <section class="detail">
    <a href="/">
      <img src="/cross.894172ec.svg" alt="close" class="close">
    </a>
    <div>
      <div>
        <img src="/beer.f10eb841.png" alt="beer">
        <img id="detail-image" src="
        <%if(data !== undefined) {%>
          <%=data.image%>
        <%} else {%>
          ./no-image.2f1a8e61.png
        <%}%>" alt="beer logo">
      </div>
      <div>
        <h2 id="detail-title">
        <%if(data !== undefined) {%>
        <%=data.name%>
        <%} else {%>
        Geen naam beschikbaar
        <%}%>
        </h2>
        <ul class="meta">
          <li class="abv" id="detail-abv">
            <%if(data !== undefined) {%>
            <%=data.abv%>
            <%} else {%>
            Geen abv beschikbaar
            <%}%>
          </li>
          <li class="created" id="detail-created">
            <%if(data !== undefined) {%>
            <%=data.date%>
            <%} else {%>
            Geen datum beschikbaar
            <%}%>
          </li>
          <li class="type" id="detail-type">
            <%if(data !== undefined) {%>
            <%=data.type%>
            <%} else {%>
            Geen type beschikbaar
            <%}%>
          </li>
        </ul>
         <ul class="meta sec">
          <%if(data !== undefined) {%>
          <li class="organic">Organic? <img id="detail-organic" src="<%= data.isOrganic === 'N' ? './cross.894172ec.svg' : './check.f3544deb.svg' %>" alt="Organic check or cross">
          </li>
          <%} else {%>
            <li class="organic">Data niet beschikbaar</li>
           <%}%>
          <%if(data !== undefined) {%>
          <li class="organic">In production? <img id="detail-production" src="<%= data.isRetired !== 'N' ? './cross.894172ec.svg' :'./check.f3544deb.svg' %>" alt="Organic check or cross"></li>
          <%} else {%>
            <li class="organic">Data niet beschikbaar</li>
           <%}%>
        </ul>
        <p id="detail-description">
          <%if(data !== undefined) {%>
          <%=data.descLong%>
          <%} else {%>
          Geen beschrijving beschikbaar
          <%}%>
        </p>
      </div>
    </div>
  </section>
<%- include('./modules/footer.ejs') %>
