<% data.forEach(item =>{ %>
  <a href="<%= item.id %>">
    <article class="beer">
      <img src="<%= item.image %>">
      <h2 class="beer-title"><%= item.name %></h2>
      <ul class="meta">
        <li class="abv"><%= item.abv %></li>
        <li class="created"><%= item.date %></li>
      </ul>
      <p class="beer-desc"><%= item.descShort %></p>
    </article>
  </a>
<% }) %>
