<%- include('./modules/head.ejs') %>
<body>
  <section class="detail">
    <a href="/">
      <img src="/cross.f1a68627.svg" alt="close" class="close">
    </a>
    <div>
      <div>
        <img src="/beer.0f9b16d7.png" alt="beer">
        <img id="detail-image" src="<%=data.image%>" alt="beer logo">
      </div>
      <div>
        <h2 id="detail-title"><%=data.name%></h2>
        <ul class="meta">
          <li class="abv" id="detail-abv"><%=data.abv%></li>
          <li class="created" id="detail-created"><%=data.date%></li>
          <li class="type" id="detail-type"><%=data.type%></li>
        </ul>
         <ul class="meta sec">
          <li class="organic">Organic? <img id="detail-organic" src="<%= data.isOrganic === 'N' ? './cross.f1a68627.svg' : './check.74abe2b1.svg' %>" alt="Check">
          </li>
          <li class="organic">In production? <img id="detail-production" src="<%= data.isRetired !== 'N' ? './cross.f1a68627.svg' :'./check.74abe2b1.svg' %>" alt="Check"></li>
        </ul>
        <p id="detail-description"><%=data.descLong%></p>

        <!-- <h2 id="detail-title">Get that beer</h2> -->
        <!-- <div id="map"></div> -->
      </div>
    </div>
  </section>
<%- include('./modules/footer.ejs') %>
